:root {
    --bg-primary: #000000;
    --text-light: #FFFFFF;
    --text-dark: #1D1D1F;
    --title-primary-color: #F5F5F7;
    --subtitle-color: #6E6E73;
    --action-color: #2997FF;
    --spirited-main-color: #DED2B9;
}

header {
    background-color: var(--bg-primary);
    color: var(--text-light);
    height: fit-content;
    opacity: 0.9;
    position: sticky;
    top: 0;
    z-index: 1;

    padding: 12px 0;
}

header nav ul {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

header nav ul li {
    list-style: none;
    min-width: fit-content;
    height: fit-content;
    padding: 0 0.75rem;
    font-size: small;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main section {
    text-align: center;
    color: white;
    position: relative;
}

main section img {
    width: 100%;
    height: auto;
}

main section a {
    color: var(--action-color);
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}

main section a:hover {
    text-decoration: underline;
}

/** MAIN SECTION  */

main .main-section .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.1rem;
}

main .main-section h1 {
    color: var(--title-primary-color);
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 3.75rem;
    letter-spacing: -0.28px;
    margin-bottom: .5rem;
}

main .main-section h2 {
    color: var(--subtitle-color);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: 0.11px;
    margin-bottom: 1rem;
}

main .main-section sub {
    font-size: 0.9rem;
}

/** SPIRITED SECTION  */

main .spirited-section > div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main .spirited-section > div:last-child {
    bottom: 50px;
}

main .spirited-section > div:first-child {
    top: 105px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 60%;
}

main .spirited-section > div:first-child p {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: var(--spirited-main-color);
    letter-spacing: -0.6px;
}

main .spirited-section .spirited-description p {
    color: var(--title-primary-color);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8rem;
    letter-spacing: 0.11px;
    margin-bottom: .5rem;
}

main .spirited-section .spirited-description span {
    color: var(--text-light);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    display: block;
    letter-spacing: 0.23px;
}

/** IPHONE SECTION  */

main .iphone-section .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.1rem;
}

main .iphone-section h2 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 3.75rem;
    letter-spacing: -0.28px;
    margin-bottom: .5rem;
    color: var(--text-dark);
}

main .iphone-section p {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: 0.11px;
    margin-bottom: 1rem;
    color: var(--text-dark);
}

main .iphone-section .link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

/** PRODUCTS SECTION  */

main .products-section {
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 0 5px;
}

main .products-section > div {
    position: relative;
}

main .products-section .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.4rem;
}

main .products-section h2 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    margin-bottom: .4rem;
}

main .products-section p {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

main .products-section .link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

main .products-section a {
    font-size: 1rem;
}

/** IPHONE-CARD */

main .products-section .iphone-card {
    color: var(--title-primary-color);
}

/** AIRPODS-CARD */

main .products-section .airpods-gift-card {
    width: 30px;
    height: 37px;
    margin-bottom: .5rem;
}

/** WATCH-SERIES-8-CARD */

main .products-section .watch-card p {
    color: var(--title-primary-color);
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: 1rem;
}

main .products-section .watch-card .series-8-logo {
    width: 430px;
    height: 52px;
    margin-top: .5rem;
}

/** WATCH-ULTRA-CARD */

main .products-section .watch-ultra-card p {
    color: var(--text-dark);
    font-size: 1.3rem;
    margin-top: 1rem;
}

main .products-section .watch-ultra-card .applewatch-ultra-logo {
    width: 430px;
    height: 52px;
    margin-top: .5rem;
}

/** APPLE-CARD-CARD */

main .products-section .apple-card-card p {
    color: var(--text-dark);
    font-size: 1.3rem;
    margin-top: 1rem;
}

main .products-section .apple-card-card .apple-card-logo {
    width: 430px;
    height: 33px;
    margin-top: .5rem;
}

/** CAROUSEL SECTION */

main .carousel-section .nav-images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}

main .carousel-section .nav-images .partial-img {
    height: 600px;
    width: 70px;
}

main .carousel-section .nav-images .whole-img {
    height: 600px;
    width: 1100px;;
}

main .carousel-section .nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 24px;
}

main .carousel-section .nav-buttons .btn {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.16);
    border: none;
    padding: 0;
}

main .carousel-section .nav-buttons .btn:first-child {
    background-color: rgba(0, 0, 0, 0.56);
}